<div>
    <form action="#">
        <table border="0">
            <tr>
                <td>Student Name</td>
                <td>
                    <input type="text" ng-model="student.name" />
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    <input type="text" ng-model="student.city" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="button" value="Add" ng-click="addStudent();" />
                </td>
            </tr>
        </table>
    </form>
    <a href="#/viewStudents"> View Students List</a>
</div>
