<div class="container" ng-init="getStudents();">
    <h2> View Students </h2>
    Search:
    <br/>
        <input type="text" ng-model="name" />
    <br/>

    <table border="1">
        <tr>
            <td>No.</td>
            <td>Student Name</td>
            <td>Student City</td>            
        </tr>
        <tr ng-repeat="student in students | filter:name">
            <td>{{$index + 1}}</td>
            <td>{{student.name}}</td>
            <td>{{student.city}}</td>
        </tr>
    </table>
</div>
